The driver has cancelled your ride:

<a href=<%= subject.ride.id %>><%= subject.ride.id %></a>
<a href=<%= subject.id %>><%= subject.id %></a>
<a href=<%= author.id %>><%= author.id %></a>
<a href=<%= id %>><%= id %></a>
